*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer{
    font-size: 14px;
    border: solid 2px #C8105F;
    border-bottom: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

#logoFooter{
    display: none;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #C8105F;
}


#footerCopyright{
    display: block;
    text-align: center;
    color: #000;
}

div a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 1.5rem;
}

div a:hover{
    color: #000;
    font-weight: bold;
}

@media screen and (min-width: 461px) {
    #logoFooter{
        display: flex;
        width: 10rem;
        height: 7rem;
        margin-left: 1.7rem;
    }   
    #footerCopyright{
      padding: 1rem 0 0.5rem;
      margin-right: 3.2rem;
    }
}