*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer{
    font-size: 14px;
    color: #70281C;
}

#logoFooter{
    display: none;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #9e6b62;
}


#footerCopyright{
    display: block;
    text-align: center;
}

div a {
    display: block;
    text-decoration: none;
    color: #70281C;
    margin: 1.5rem;
}

@media screen and (min-width: 461px) {
    #logoFooter{
        display: flex;
        width: 10rem;
        height: 7rem;
        margin-left: 1.7rem;
    }   
    #footerCopyright{
      padding-top: 1rem;
      margin-right: 3.2rem;
    }
}