*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    border-bottom: solid 2px #C8105F;
    font-family: 'Raleway', sans-serif;
}

#logoHeader{
    width: 10rem;
    height: 7rem;
}

#topNavHeader a{
    text-decoration: none;
    color: #000;
    margin: 0.5rem;
}

#topNavHeader a:hover{
    color: #C8105F;
    font-weight: bold;
}

#topNavHeader fieldset{
    border: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#topNavHeader fieldset input{
    width: 90%;
}

#topNavHeader fieldset button{
    width: 10%;
    background-color: #fff;
    color: #C8105F;
    border: none;
}

#topNavHeader select{
    border: none;
    font-size: 15px;
}

#bottomNavHeader a{
    text-decoration: none;
    color: #000;
    margin: 0.5rem;
}

#bottomNavHeader a:hover{
    color: #C8105F;
    font-weight: bold;
}

#bottomNavHeader{
    padding: 0.75rem 0;
}

@media screen and (min-width: 769px ) {
    #logoHeader{
        width: 12rem;
        height: 9rem;
    }
    #topNavHeader a{
        margin: 2rem;
    }
    
    #bottomNavHeader a{
        margin: 1rem;
    }
    
}