<%- include("./partials/head")  %> 

<body>
    <%- include("./partials/header")  %> 
    <main>
        <section>
            <h6>Bienvenido a Caffeine Shop 'nombreDeUsuaio' !</h6>
            <img src="../assets/banner-cafe.png" alt="Banner" width="100%">
        </section>
        <section>
        </section>
    </main>

    <%- include("./partials/footer")  %> 
</body>
</html>