<%- include("./partials/head")  %> 

<body>
    <%- include("./partials/header")  %> 
    <main>
        <section>
            <h6>Bienvenido a Caffeine Shop 'nombreDeUsuaio' !</h6>
            <img src="../assets/banner-cafe.png" alt="Banner" width="100%">
        </section>
        <section>
           <a href="/cafe/capsulas">
            <article>
                <h5>Conocé nuestras opciones en cápsulas</h5>
                <img src="../assets/cafe-en-capsula.jpg" alt="capsulas" width="100%">
            </article>
           </a>
           <a href="/cafe/grano">
            <article>
                <h5>Conocé nuestras opciones en grano</h5>
                <img src="../assets/cafe-en-grano.jpeg" alt="grano" width="100%">  
            </article>
           </a>
        </section>
    </main>

    <%- include("./partials/footer")  %> 
</body>
</html>