<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %> 
    <link rel="stylesheet" href="/css/headerLinks/contact.css">

    <main>
        <section id="contactSection">
            <h1 id="contactTitle">Contactános !</h1>
            <form action="#" method="post" id="contactForm">
                <fieldset>
                    <label for="">Nombre y Apellido : </label>
                        <input type="text" name="name" id="name" required>
                    
                    <label for="">Asunto :</label>
                        <textarea name="theme" id="theme" cols="30" rows="10" required></textarea>
                    
                    <label for="">Mail de contacto :</label>
                        <input type="email" name="email" id="email" required>
                    <section>
                        <button type="submit">Enviar</button>
                    </section>
                    
                </fieldset>
            </form>
            <p class="contactInfo">
                También podés llamarnos o escribirnos a nuestro whathsapp (+54 11 7865-8724).
            </p>
            <p class="contactInfo">
                Los horarios de atención al clientes son : 
            </p>
            <p class="contactInfo">
                Lunes a Viernes de 9 a 18:30 y Sábados de 9:30 a 14 hs.
            </p>
        </section>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>