<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %> 

    <main>
        <h1>Contactanos !</h1>
        <p>
            Ante cualquier consulta podés llamarnos sin cargo al 0800-877-7760 o 
            enviarnos un mail a atencionalcliente@caffeineshop.com
        </p>
        <p>
            Los horarios de atención al clientes son de Lunes a Viernes de 9 a 18:30 y Sábados de 9:30 a 14 hs.
        </p>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>