<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/headerLinks/detail.css">

<body>
    <%- include("../partials/header")  %> 
    
    <main>
        <h1>Detalle </h1>
    </main>
    
    <%- include("../partials/footer")  %> 
</body>
</html