<footer>
    <nav id="footerNav">
        <div id="topDivFooter">
            <a href="/shipments">Envíos</a>
            <a href="/contact">Contacto</a>
        </div>
        <a href="/">
            <img src="/assets/logo.png" alt="Logo Strat library" id="logoFooter">
        </a>
        <div id="bottomDivFooter">
            <a href="/payment">Formas de pago</a>
            <a href="/return">Política de devolución</a>
        </div>
    </nav>
    <p id="footerCopyright">Strat library &copy;Copyright 2022</p>
</footer>