<footer>
    <nav>
        <a href="/shipments">Envíos</a>
        <a href="/contact">Contacto</a>
        <a href="/">
            <img src="/assets/logo.png" alt="Logo Caffeine Shop">
        </a>
        <a href="/payment">Formas de pago</a>
        <a href="/return">Política de devolución</a>
    </nav>
    <p>Caffeine Shop &copy;Copyright 2022</p>
</footer>