<footer>
    <nav>
        <a href="../footerLinks/return.ejs">Política de devolución</a>
        <a href="../footerLinks/shipments.ejs">Envíos</a>
        <a href="../footerLinks/payment.ejs">Formas de pago</a>
    </nav>
</footer>