<footer>
    <nav>
        <div>
            <a href="/shipments">Envíos</a>
            <a href="/contact">Contacto</a>
        </div>
        <a href="/">
            <img src="/assets/logo.png" alt="Logo Caffeine Shop" id="logoFooter">
        </a>
        <div>
            <a href="/payment">Formas de pago</a>
            <a href="/return">Política de devolución</a>
        </div>
    </nav>
    <p id="footerCopyright">Caffeine Shop &copy;Copyright 2022</p>
</footer>