<link rel="stylesheet" href="../../../public/partials/header.css">
<header>
    <a href="/">
        <img src="/assets/logo.png" alt="Logo Caffeine Shop" id="logoHeader">
    </a>
    <nav id="topNavHeader">
            <section>
                <form action="#" method="post">
                    <fieldset>
                        <input type="search" name="search" id="search">
                        <button type="submit"><i class="fas-fa-solid fa-magnifying-glass"></i></button>
                        <!--<i class="fas fa-search">-->
                    </fieldset>
                </form>
            </section>
            <section>
                <select name="products" id="products">
                    <a href=""><option value="#">Nuestros Productos</option></a>
                    <a href=""><option value="#">Abrochadoras</option></a>
                    <a href=""><option value="#">Marcadores</option></a>
                    <a href=""><option value="#">Lápices</option></a>
                    <a href=""><option value="#">Cartucheras</option></a>
                    <a href=""><option value="#">Cuadernos</option></a>
                </select>
                <a href="/contact">Contacto</a>
            </section>
            
    </nav>
    <% if (user) { %>
        <nav>
            <a href="/users/logout">Logut</a>
        </nav>
    <% }else { %>
     
    <nav id="bottomNavHeader"> 
        <a href="/users/register">Crear cuenta</a>
        <a href="/users/login">Iniciar sesión</a>
    </nav>
    <% } %>
</header>