<link rel="stylesheet" href="../../../public/partials/header.css">
<header>
    <a href="/">
        <img src="/assets/logo.png" alt="Logo Caffeine Shop" id="logoHeader">
    </a>
    <nav id="topNavHeader">
            <a href="/products/coffee">Café</a>
            <a href="/products/accesories">Accesorios</a>
            <a href="/contact">Contacto</a>
    </nav>
    <nav id="bottomNavHeader"> 
        <a href="/users/register">Crear cuenta</a>
        <a href="/users/login">Iniciar sesión</a>
    </nav>
</header>