<link rel="stylesheet" href="../../../public/partials/header.css">
<header>
    <a href="/">
        <img src="/assets/logo.png" alt="Logo Strat library" id="logoHeader">
    </a>
    <nav id="topNavHeader">
            <section>
                <form action="#" method="post">
                    <fieldset>
                        <input type="search" name="search" id="search">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </fieldset>
                </form>
            </section>
            <section>
                <select name="products" id="products" onchange="window.location.href=this.options[this.options.selectedIndex].value" >
                    <option value="#">Nuestros Productos</option>
                    <option value="/products/categories/1">Abrochadoras</option>
                    <option value="/products/categories/2">Marcadores</option>
                    <option value="/products/categories/3">Lápices</option>
                    <option value="/products/categories/4">Cartucheras</option>
                    <option value="/products/categories/5">Cuadernos</option>
                </select>
                <a href="/contact">Contacto</a>
            </section>
            
    </nav>
    <% if (user) { %>
        <nav>
            <a href="/users/logout">Logut</a>
        </nav>
    <% }else { %>
     
    <nav id="bottomNavHeader"> 
        <a href="/users/register">Crear cuenta</a>
        <a href="/users/login">Iniciar sesión</a>
    </nav>
    <% } %>
</header>