<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %> 
    <main>
        <h1>Formas de pago</h1>
        <p>
            Podés abonar con Tarjeta de Crédito a través de Mercado Pago, por Rapi Pago o Pago Fácil.
            Cuando se confirme tu pago, se hará efectivo tu pedido previa coordinación, del lugar y horario de entrega. 
            Hasta que no confirmemos el pago del pedido, no se entenderá como confirmada la orden de compra y por lo tanto no será procesada.
        </p>
    </main>
    <%- include("../partials/footer")  %> 
</body>
</html>