<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/footerLinks/return.css">

<body>
    <%- include("../partials/header")  %> 

    <main>
        <section id="returnSection">
            <h1 id="returnTitle">Devoluciones</h1>
            <p class="returnInfo">
                ¡ Todos los productos pueden ser cambiados !
                los productos deben estar en su empaque original, de la misma forma que fueron entregados, sin uso. 
                Los productos usados no tienen cambio.
            </p>
            <p class="returnInfo">
                En caso de que un producto posea una falla comprobada de fábrica podrás cambiar o devoler el producto y pedir reembolso.
                El reembolso se realiza a través de la misma forma de pago en que se efectuó la compra. 
                Los cambios pueden hacerse por productos de igual valor o por crédito en la tienda.
                Envianos un <a href="mailto:devolcuiones@caffeine.com"> email </a>.
            </p> 
            <p class="returnInfo">
                El comprador tendrá un plazo de 3 días para contactarnos y realizar el reclamo.
                Pasado este plazo ya no habrá derecho a pedir devolución. La marca no se hará cargo de los gastos de envío. 
            </p>
        </section>  
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>