<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %> 

    <main>
        <h1>Devoluciones</h1>
        <p>
            ¡ Todos los productos pueden ser cambiados !
            los productos deben estar en su empaque original, de la misma forma que fueron entregados, sin uso. 
            Los productos usados no tienen cambio.
        </p>
        <p>
            En caso de que un producto posea una falla comprobada de fábrica podrás cambiar o devoler el producto y pedir reembolso.
            El reembolso se realiza a través de la misma forma de pago en que se efectuó la compra. 
            Los cambios pueden hacerse por productos de igual valor o por crédito en la tienda.
            Envianos un <a href="mailto:devolcuiones@caffeine.com"> email </a>.
        </p> 
        <p>
            El comprador tendrá un plazo de 3 días para contactarnos y realizar el reclamo.
            Pasado este plazo ya no habrá derecho a pedir devolución. La marca no se hará cargo de los gastos de envío. 
        </p>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>