<%- include("./partials/head")  %> 

<body>
    <%- include("./partials/header")  %> 

    <main>
        <section>
            <h1>Envios</h1>
            <p>
                ¿Querés recibir tu pedido en tu hogar? 
                No hay problema! Podés hacer tu pedido las 24 horas del día, los 7 días de la semana desde nuestra página web. 
                Recibílo en 24hs realizándolo antes de las 16hs en AMBA, en Rosario y Córdoba en 1 a 2 días hábiles y en 3 a 5 días hábiles o más
                en el Interior del país, dependiendo de la ubicación.
            </p>
        </section>
        <section>
            <h1>Pick Up points - SERVICIO GRATUITO</h1>
            <p> Podés pasar a retirarlo vos mismo hasta el mismo día de tu compra !</p>
            <p> Comunicate con nosotros a nuestro whathsapp (+54 11 7865-8724) y coordiná con con nosotros para pasar a retirarlo
                por alguna de nuestras tiendas :
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.8016947217925!2d-58.41102058527348!3d-34.583883963954854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb57dbce045cd%3A0x2704541ae686099a!2sParque%20Las%20Heras!5e0!3m2!1ses!2sar!4v1647643492410!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52540.090098789966!2d-58.43165898776853!3d-34.61034034703871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccab595993163%3A0xb5d975299fbe9750!2sPlaza%20General%20San%20Mart%C3%ADn!5e0!3m2!1ses!2sar!4v1647643613960!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <section>
            <h1>Pedidos y seguimiento de mis pedidos </h1>
            <p>
                Todos los pedidos cierran los domingos, martes y jueves a las 16hs y se despachan los días lunes, miércoles y viernes, salvo feriados y excepciones. Durante enero y febrero es posible que estos días se modifiquen, para mayor exactitud sobre cuando se va a estar despachando un pedido, comunicate con nosotros por mail, mensaje directo o whatsapp.
                Una vez acreditado tu pago, vas a recibir un mail de confirmación en la casilla de correo que indicaste al momento de la compra. 
                Cuando el pedido se envia, con previa coordinación, vas a volver a recibir un email con la información del seguimiento. 
                Ante cualquier duda durante la espera de tu producte comunicate con nosotros via <i><a href="mailito:atencionalcliente@caffeine.com">email</a></i>
            </p>
        </section>
    </main>

    <%- include("./partials/footer")  %> 
</body>
</html>