*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#homeBanner{
    height: 10rem;
}

#topHome {
    text-align: center;
}

#topHome h2{
    padding-top: 2rem;
}

#topHome p{
    padding: 2rem;
}

#bottomHome img{
    width: 90%;
    height: 8rem;
    border-radius: 28px;
    padding: 1rem;
}

#bottomHome a{
    text-decoration: none;
}

#bottomHome input{
    display: block;
}

