<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/users/login.css">


<body>
    <%- include("../partials/header")  %> 

    <main>
        <form action="#" method="post" id="loginForm">
            <fieldset>
                    <label for="userId"> Nombre de usuario:</label>
                    <input type="text" name="userId" id="userId" required>
                    
                    <label for="password"> Contraseña:</label>
                    <input type="password" name="password" id="password" required>
                    
                    <label for="remember">
                    <input type="checkbox" id="remember" value="remember"> Recordar mis datos
                    </label>
                    <a href="/auth/google" id="google">Logeate con Google!</a>
            </fieldset>
        </form>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>
