<body>
    <main>
        <form action="#" method="post">
            <label for="userId"> Nombre de usuario:
                <input type="text" name="userId" id="userId" required>
            </label>
            <label for="password"> Contarseña:
                <input type="password" name="password" id="password" required>
            </label>
            <label for="remember">
            <input type="checkbox" id="remember" value="remember"> Recordar mis datos
        </label>
        </form>
    </main>
</body>
