<%- include("../partials/head")  %> 
<link rel="stylesheet" href="/css/users/register.css">

<body>
    <%- include("../partials/header")  %> 
    <main>
        <form action="#" method="post" id="registerForm">
            <fieldset>
                <label for="firstName"> Nombre :  </label>
                    <input type="text" name="firstName" id="firstName" required>
              
                <label for="lastName"> Apellido :</label>
                    <input type="text" name="lastName" id="lastName" required>
                
                <label for="email"> Email :</label>
                    <input type="email" name="email" id="email" required>
                
                <label for="birthDate"> Fecha de nacimiento :</label>
                    <input type="date" name="birthDate" id="birthDate" required>
                
            </fieldset>
            
            <fieldset>
                <label for="userId"> Nombre de usuario :</label>
                    <input type="text" name="userId" id="userId" required>
                
                <label for="password"> Contraseña : </label>
                    <input type="password" name="password" id="password" required>
               
            </fieldset>
            <section>
                <button type="submit">Enviar</button>
            </section>
        </form>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>