<%- include("../partials/head")  %> 

<body>
    <%- include("../partials/header")  %> 
    <main>
        <form action="#" method="post">
            <fieldset>
                <label for="firstName"> Nombre:
                    <input type="text" name="firstName" id="firstName" required>
                </label>
                <label for="lastName"> Apellido:
                    <input type="text" name="lastName" id="lastName" required>
                </label>
                <label for="email"> Email:
                    <input type="email" name="email" id="email" required>
                </label>
                <label for="birthDate"> Fecha de nacimiento:
                    <input type="date" name="birthDate" id="birthDate" required>
                </label>
            </fieldset>
            
            <fieldset>
                <label for="userId"> Nombre de usuario:
                    <input type="text" name="userId" id="userId" required>
                </label>
                <label for="password"> Contarseña:
                    <input type="password" name="password" id="password" required>
                </label>
            </fieldset>
        </form>
    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>